
/*-----------------------------------------------------------------------------
base styles and adjustments
-----------------------------------------------------------------------------*/

/*size fix so Masonry fills columns appropriately and tiles don't 'stick'.
Other elements that are both sized by Puregrids and arranged by Masonry are
similarly reduced in width*/
.pure-u-1{
  width:99.9%;
}

/*base adjustments*/
html {
  box-sizing: border-box;
  position: relative;
  height:100%;  /*enables full-length vertical sidebar*/
  min-height:100%;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  color: $core-text-color;
  line-height: $base-line-height;
  font-family: $base-font-family;
  height:100%;
  bottom:0;
  margin: 0 0 $footer-height; /*sticky footer styling*/
}
footer {
    height: $footer-height;
    width: 100%;
    p {
      padding-bottom:2rem;
    }
}
img{
  max-width:100%;
  height:auto;
  width:auto\9; /*responsive image on resize hack*/
  border-radius: 3px;
}
ul, li{
  list-style: none;
  padding:0;
}

a:link {
    text-decoration: underline;
    color: #000;
}
a:visited {
    text-decoration: none;
    color: #000;
}
a:hover   {
  text-decoration: none;
    color: $core-accent;
}
a:active  {
  text-decoration: none;
    color: #000;
}

/*wrapper classes*/
.right{
      float:right;
}
.left{
      float: left;
}
.remove{
      display:none;
}
.show {
      display:block;
}





