
/*-----------------------------------------------------------------------------
base styles and adjustments
-----------------------------------------------------------------------------*/

/*size fix so masonry fills columns appropriately and tiles don't 'stick'.
This resolves an apparent conflict between this combined implementation of
Masonry.js and Puregrids. Other elements that are both sized by Puregrids
and arranged by Masonry are similarly reduced in width by a fraction of
a percent*/
.pure-u-1{
  width:99.9%;
}

/*base adjustments*/
html {
  box-sizing: border-box;
  position: relative;
  height:100%;  /*enables full-length vertical sidebar*/
  min-height:100%;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  color: $core-text-color;
  line-height: $base-line-height;
  background-color: $core-background;
  height:100%;
  bottom:0;
  margin: 0 0 $footer-height; /*sticky footer styling*/
}
footer {
    height: $footer-height;
    width: 100%;
    p {
      padding-bottom:2rem;
    }
}
img{
  max-width:100%;
  height:auto;
  width:auto\9; /*responsive image on resize hack*/
}
ul, li{
  list-style: none;
  padding:0;
}

a:link {
    text-decoration: none;
    color: #000;
}
a:visited {
    text-decoration: none;
    color: #000;
}
a:hover   {
  text-decoration: none;
    color: $alt-accent;
}
a:active  {
  text-decoration: none;
    color: #000;
}

/*wrapper classes*/
.right{
      float:right;
}
.left{
      float: left;
}
.hidden {
      visibility:hidden;
}
.remove{
      display:none;
}
.show {
      display:block;
}





