.body{
	display: block;
	float:right;
	@media (max-width: 64em){
	margin-top: 6rem;
  }
}
.taskbar{
	display: block;
	float: left;
	position: fixed;
	min-height: 6rem;
	@media (min-width: 64em){
	height:100%;
    top:0;
    left:0;


	}

}

.rrssb-buttons li a .rrssb-icon{
	float:none;
	padding:0;
	width: 0 !important;
}
.adjust{
	float:left;
	width:100%;
}