
.edge{
	margin: .5em .5em .5em .5em;
	padding: 1.25em;
	border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
    -webkit-box-shadow: 3px 3px 10px -2px rgba(0,0,0,0.25);
    -moz-box-shadow: 3px 3px 10px -2px rgba(0,0,0,0.25);
    box-shadow: 3px 3px 10px -2px rgba(0,0,0,0.25);
    border: 1px solid #FCFCFC;
    background: #FFF;
}
