/*edge style for masonry cards - wrapper div that allows
adjusting padding, border, and margin of tiles without
having to adjust column or card sizing*/
.edge{
	margin: $base-card-margin;
	padding: $base-card-padding;
	background: $alt-background;
    box-shadow: 1px 3px 5px 1px rgba(75,70,68,0.39);
    border-radius: 2px;

}


@media (min-width: 35.5em){
	.edge{
	    margin: $base-card-margin + .1em;
	    padding: .7em;
    }
}
@media (min-width: 58em){
	.edge{
	    margin: $base-card-margin +.2em;
	    padding: .8em;
    }
}
@media (min-width: 70em){
    .edge{
	    margin: $base-card-margin +.3em;
	    padding: .9em;
    }
}
@media (min-width: 84em){

}


