
.edge{
	margin: .8rem;
	padding: .9rem;
	border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    -webkit-box-shadow: 3px 3px 10px -2px rgba(0,0,0,0.25);
    -moz-box-shadow: 3px 3px 10px -2px rgba(0,0,0,0.25);
    box-shadow: 3px 3px 10px -2px rgba(0,0,0,0.25);
    background: $alt-background;
}
