.horiz-list{
	ul li{
		display:inline;
		list-style:none;
		padding-left:2rem;
		font-size:2rem;
	}

}
.vert-list{
	ul li{
	   	  padding-bottom: 2rem;
		  display:block;
		  margin:2rem;
	   }
}