
.list-item{
   max-width:99.9%;
}
.right{
	float:right;
}
.title{
	text-align:left;
	display:inline;
	float:left;
	padding:0;
}
@media (min-width: 84em){
	.title{
	   text-align:center;
	   display:block;
	   float:none;
    }
}
.navigation{

}

a:link {
    text-decoration: none;
    color: #000;
}
a:visited {
    text-decoration: none;
    color: #000;
}
a:hover   {
	text-decoration: underline;
    color: #F00;
}
a:active  {
	text-decoration: none;
    color: #F33;
}