/*nav{
	background-color: yellow;
}
header{
	background-color: #CCFF00;
}
footer{
	background-color: green;
}
section{
	background-color: #FFCC00;
}
h1{
	background-color: #1111FF;
}
h2{
	background-color: #7777FF;
}
h3{
	background-color: #9999FF;
}
ul{
	background-color:#F9DD99;
}
div{
    background-color: #FFCCCC;
}
span{
	background-color: #FFFFFF;

}
p{
	background-color: #FFCCDD;
}
aside{
	background-color: #DD00CC;

}
article{
    background-color: #FFCC00;
	
}*/