
.rrssb-text{
    visibility:hidden;
}
.rrssb-buttons{
    box-sizing:border-box;
    height: 3rem;
    margin:0;
    padding:0;
    width: 100%;
    max-width:282px;
    min-width:202px;
}
.rrssb-buttons:after{
    clear:both;
}
.rrssb-buttons:after,
.rrssb-buttons:before{
    content:' ';
    display:table;
}
.rrssb-buttons li{
    box-sizing:border-box;
    float:left;
    list-style:none;
    width: 16%;
    height: 82%;
    margin: auto;
    padding:0 2px
}
.rrssb-buttons li.rrssb-facebook a:link{
    background-color: #8c8c8c !important;
}
.rrssb-buttons li.rrssb-tumblr a:link{
    background-color: #8c8c8c !important;
}
.rrssb-buttons li.rrssb-twitter a:link{
    background-color: #8c8c8c !important;
}
.rrssb-buttons li.rrssb-googleplus a:link{
    background-color: #8c8c8c !important;
}
.rrssb-buttons li.rrssb-reddit a:link{
    background-color: #8c8c8c !important;
}
.rrssb-buttons li.rrssb-pinterest a:link{
    background-color: #8c8c8c !important;
}
.rrssb-buttons li.rrssb-facebook a:hover{
    background-color: #306199 !important;
}
.rrssb-buttons li.rrssb-tumblr a:hover{
    background-color: #32506d !important;
}
.rrssb-buttons li.rrssb-twitter a:hover{
    background-color: #26c4f1 !important;
}
.rrssb-buttons li.rrssb-googleplus a:hover{
    background-color: #e93f2e !important;
}
.rrssb-buttons li.rrssb-reddit a:hover{
    background-color: #8bbbe3 !important;
}
.rrssb-buttons li.rrssb-pinterest a:hover{
    background-color: #b81621 !important;
}
.rrssb-buttons li a {
    border-radius: 4px;
    box-sizing:border-box;
    display:block;
    -moz-osx-font-smoothing:grayscale;
    -webkit-font-smoothing:antialiased;
    font-weight:700;
    height:100%;
    position:relative;
    -webkit-transition:background-color .2s ease-in-out;
    transition:background-color .2s ease-in-out;
    width:100%;
}
.rrssb-buttons li a .rrssb-icon{
    display:block;
    left: 0.75rem;
    padding-top: 0.62rem;
    position:absolute;
    top:0;
    width:0;
}
.rrssb-buttons li a .rrssb-icon svg{
    height:1.16rem;
    width:1.16rem;
}
.rrssb-buttons li a .rrssb-icon svg path{
    fill: #FFFFFF;
}


