// Base Sizes
$base-font-family:              'Catamaran', sans-serif;
$base-font-weight:              400 !default;
$heading-font-stack:            'Roboto Slab','Georgia','Utopia','Charter',serif;
$sub-heading-font-stack:        'Roboto Slab','Georgia','Utopia','Charter',serif;

