.list-item {
  max-width: 99.9%; }

.right {
  float: right; }

.title {
  text-align: left;
  display: inline;
  float: left;
  padding: 0; }

@media (min-width: 84em) {
  .title {
    text-align: center;
    display: block;
    float: none; } }
a:link {
  text-decoration: none;
  color: #000; }

a:visited {
  text-decoration: none;
  color: #000; }

a:hover {
  text-decoration: underline;
  color: #F00; }

a:active {
  text-decoration: none;
  color: #F33; }

.edge {
  margin: .5em .5em .5em .5em;
  padding: 1.25em;
  border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;
  -webkit-border-radius: 6px 6px 6px 6px;
  -webkit-box-shadow: 3px 3px 10px -2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 3px 3px 10px -2px rgba(0, 0, 0, 0.25);
  box-shadow: 3px 3px 10px -2px rgba(0, 0, 0, 0.25);
  border: 1px solid #FCFCFC;
  background: #FFF; }

html {
  box-sizing: border-box;
  position: relative;
  min-height: 100%;
  height: 100%; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  height: 100%;
  bottom: 0;
  margin: 0 0 10rem; }

img {
  max-width: 100%;
  height: auto;
  width: auto\9;
  border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px; }

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 10rem;
  width: 100%; }

ul, li {
  list-style: none;
  padding: 0; }

.body {
  margin-top: 6rem;
  min-height: 100%;
  float: right;
  position: absolute;
  background: #FFF; }

@media (min-width: 84em) {
  .body {
    margin-top: 0;
    margin-left: 16.66%; } }
.center {
  margin: auto;
  float: none;
  display: block;
  max-width: 1080px; }

.container {
  margin: .5rem .5rem 0rem; }

.bottom-footer {
  margin-top: 6rem;
  text-align: right;
  padding-right: 1rem; }
  .bottom-footer ul li {
    display: inline;
    list-style: none;
    text-align: center; }

.menubar {
  z-index: 5;
  position: fixed;
  min-height: 6rem;
  max-height: 8rem;
  width: 100%; }
  .menubar ul li {
    display: inline;
    list-style: none;
    text-align: center; }

@media (min-width: 84em) {
  .menubar {
    height: 100%;
    max-height: 100%; }
    .menubar ul li {
      display: block; } }
@media (min-width: 35.5em) {
  .card {
    max-width: 49.9%; } }
@media (min-width: 48em) {
  .card {
    max-width: 33.28%; } }
@media (min-width: 84em) {
  .card {
    max-width: 24.9%; } }
.item {
  -webkit-transition: left .2s ease-in-out, bottom .2s ease-in-out .2s;
  -moz-transition: left .2s ease-in-out, bottom .2s ease-in-out .2s;
  -ms-transition: left .2s ease-in-out, bottom .2s ease-in-out .2s;
  -o-transition: left .2s ease-in-out, bottom .2s ease-in-out .2s;
  transition: left .2s ease-in-out, bottom .2s ease-in-out .2s; }

#listing .gutter {
  margin-left: .3em; }

.rrssb-text {
  visibility: hidden; }

.rrssb-buttons {
  box-sizing: border-box;
  height: 3rem;
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 282px;
  min-width: 202px; }

.rrssb-buttons:after {
  clear: both; }

.rrssb-buttons:after,
.rrssb-buttons:before {
  content: ' ';
  display: table; }

.rrssb-buttons li {
  box-sizing: border-box;
  float: left;
  list-style: none;
  width: 16%;
  height: 82%;
  margin: auto;
  padding: 0 2px; }

.rrssb-buttons li.rrssb-facebook a:hover {
  background-color: #306199; }

.rrssb-buttons li.rrssb-tumblr a:hover {
  background-color: #32506d; }

.rrssb-buttons li.rrssb-twitter a:hover {
  background-color: #26c4f1; }

.rrssb-buttons li.rrssb-googleplus a:hover {
  background-color: #e93f2e; }

.rrssb-buttons li.rrssb-reddit a:hover {
  background-color: #8bbbe3; }

.rrssb-buttons li.rrssb-pinterest a:hover {
  background-color: #b81621; }

.rrssb-buttons li a {
  background-color: #8c8c8c;
  border-radius: 4px;
  box-sizing: border-box;
  display: block;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-weight: 700;
  height: 100%;
  position: relative;
  -webkit-transition: background-color .2s ease-in-out;
  transition: background-color .2s ease-in-out;
  width: 100%; }

.rrssb-buttons li a .rrssb-icon {
  display: block;
  left: 0.75rem;
  padding-top: 0.62rem;
  position: absolute;
  top: 0;
  width: 0; }

.rrssb-buttons li a .rrssb-icon svg {
  height: 1.16rem;
  width: 1.16rem; }

.rrssb-buttons li a .rrssb-icon svg path {
  fill: #FFFFFF; }

/*# sourceMappingURL=main.css.map */
