.body{
	margin-top: 6rem;
	min-height:100%;
	float:right;
	position:absolute;
	background:#FFF;
}
@media (min-width: 84em){
	.body{
	    margin-top: 0;
	    margin-left: 16.66%;
    }
}

.center{
	margin:auto;
	float:none;
	display:block;
	max-width: 1080px
}

.container{
	margin: .5rem .5rem 0rem;

}

