
.card{
	margin-top:1rem;
}

/*size fix so Masonry tiles don't 'stick'*/
@media (min-width: 35.5em){
     .card{
       max-width:49.9%;
     }
}
@media (min-width: 48em){
     .card{
       max-width:33.28%;
     }
}

@media (min-width: 84em){
    .card{
      max-width:24%;
  }
}

