.side-footer{
	display:none;
}
@media (min-width: 70em){
	.side-footer{
	     display:block;
    }
}
.bottom-footer{

	margin-top: 6rem;
}
@media (min-width: 70em){
	.bottom-footer{
	   display:none;
    }
}

