/*-----------------------------------------------------------------------------
header styles
-----------------------------------------------------------------------------*/

/*header first line*/
.title{
	display:block;
	padding: 0;
	font-size: $h4-font-size + .3;
	font-family:$heading-font-stack;
}
/*content-based breakpoints for responsive title text*/
@media (min-width: 35.5em){
	.title{
		font-size: $h3-font-size;
    }
}
@media (min-width: 42em){
	.title{
        font-size: $h3-font-size +.1;
    }
}
@media (min-width: 62em){
	.title{
        font-size: $h3-font-size +.3;
    }
}
@media (min-width: 72em){
	.title{
		font-size: $h2-font-size;
    }
}
@media (min-width: 86em){
	.title{
		font-size: $h1-font-size;
    }
}
/*header second line*/
.subtitle{
	display:block;
	font-size: $base-font-size;
	font-weight: 400;
	padding: 0rem 0rem .75rem .5rem;
}
/*content-based breakpoints for responsive sub-title text*/
@media (min-width: 25em){
	.subtitle{
		font-size: $base-font-size + .09;
    }
}
@media (min-width: 52em){
	.subtitle{
     font-size: $base-font-size + .15;
    }
}
@media (min-width: 70em){
	.subtitle{
		font-size: $base-font-size + .35;
    }
}
@media (min-width: 84em){
	.subtitle{
		font-size: $base-font-size + .75rem;
    }
}
/*fast fade-in-first animation for top line of header text*/
@-moz-keyframes headerLoad { from { opacity:0; } to { opacity:1; } }
@-webkit-keyframes headerLoad { from { opacity:0; } to { opacity:1; } }
@keyframes headerLoad { from { opacity:0; } to { opacity:1; } }
.header-load{
  opacity:0;
  -webkit-animation:headerLoad linear 1;
  -moz-animation:headerLoad linear 1;
  animation:headerLoad linear 1;

-webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

-webkit-animation-duration:.15s;
  -moz-animation-duration:.15s;
  animation-duration:.15s;

  -webkit-animation-delay: .15s;
  -moz-animation-delay: .15s;
  animation-delay: .15s;
}
/*content-based breakpoints for responsive header height*/
#header{
	padding: 0rem 0rem 0rem 1rem;
	float:left;
	height:$header-height - 4.1;
}
@media (min-width: 72em){
	#header{
	    height:$header-height - 3.5;
    }
}
@media (min-width: 84em){
	#header{
	    height:$header-height;
    }
}
/*conserve screen space for mobile sizes*/
#topline{
  margin-top:0;
  margin-bottom:0;
}