.banner{
	padding: 0rem 0rem 0rem 2rem;
	float:left;
}

.title{
	display:block;
	padding: 0;
	font-size: $h3-font-size;

}
@media (min-width: 35.5em){
	.title{
    }
}
@media (min-width: 48em){
	.title{

    }
}
@media (min-width: 70em){
	.title{
		font-size: $h2-font-size;
    }
}
@media (min-width: 84em){
	.title{
		font-size: $h1-font-size;
    }
}

.subtitle{
	display:block;
	font-size: $base-font-size;
	padding: 0rem 0rem .75rem .5rem;
}
@media (min-width: 35.5em){
	.subtitle{

    }
}
@media (min-width: 48em){
	.subtitle{
     font-size: $base-font-size + .25;
    }
}
@media (min-width: 70em){
	.subtitle{
		font-size: $base-font-size + .5;
    }
}
@media (min-width: 84em){
	.subtitle{
		font-size: $base-font-size + .75rem;
    }
}



