/*masonry item*/
.item{
	  float:left;
    -moz-transition: right .3s ease-in-out, top .3s ease-in-out;
    -ms-transition: right .3s ease-in-out, top .3s ease-in-out;
    -o-transition: right .3s ease-in-out, top .3s ease-in-out;
    transition: right .3s ease-in-out, top .3s ease-in-out;
}



