/*masonry item*/
.item{
	  float:left;
    -moz-transition: right .4s ease-in-out, top .4s ease-in-out;
    -ms-transition: right .4s ease-in-out, top .4s ease-in-out;
    -o-transition: right .4s ease-in-out, top .4s ease-in-out;
    transition: right .4s ease-in-out, top .4s ease-in-out;
}



