.list-blog-header{
	h2, h3{
		font-family: $sub-heading-font-stack;
		margin:0;
		padding-bottom:.5rem;
	}
}

.blog-header-image{


 }

 .blog-item-title{
 	display:inline;
 	float:left;
 }
 .list-blog-date{
 	float:right;
 }

 .list-blog-top{
 	height:2.5rem;
 }