.list-blog-header{
	h2, h3{
		font-family: $sub-heading-font-stack;
		margin:0;
		padding-bottom:.5rem;
	}
	 a:link {
    text-decoration: none;
    color: $core-text-color;
    }
    a:visited {
        text-decoration: none;
        color: $core-text-color;
    }
    a:hover   {
      text-decoration: none;
        color: $core-accent;
    }
    a:active  {
      text-decoration: none;
        color: $core-text-color;
    }
}

.blog-header-image{


 }

 .blog-item-title{
 	display:inline;
 	float:left;
 }
 .list-blog-date{
 	float:right;
 }

 .list-blog-top{
 	height:2.5rem;
 }