.menubar{
	z-index: 5;
	position: fixed;
	min-height: 6rem;
	max-height:8rem;
    width:100%;
    ul li{
		display:inline;
		list-style:none;
	}
}

@media (min-width: 70em){
	.menubar{
	   height:100%;
	   max-height:96%;
	   ul li{
		  display:block;
	   }
	}
}