.scroll-stick{
    position:fixed;
    top:0;
    left:0;
}
.menubar{
    z-index:5;
    float:left;
    left:0;
    top:176;
    background-color:#FFF;
    min-height: $menu-height;
    li{
		display:inline;
		list-style:none;
		padding-left:1.3rem;
		font-size:$h5-font-size;
	}
}
@media (min-width: 70em){
	.menubar{
	}
}
@media (min-width: 84em){
	.menubar{
		left:0;
	   ul li{
	   	  padding-top:.3rem;
		  display:block;
		  margin:2rem;
	   }

	}
}

@media (min-width: 84em){
	#place-holder{
       display:none;
    }
}

@-moz-keyframes menuLoad { from { opacity:0; } to { opacity:1; } }
@-webkit-keyframes menuLoad { from { opacity:0; } to { opacity:1; } }
@keyframes menuLoad { from { opacity:0; } to { opacity:1; } }
.menu-load{
  opacity:0;
  -webkit-animation:menuLoad linear 1;
  -moz-animation:menuLoad linear 1;
  animation:menuLoad linear 1;

-webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

-webkit-animation-duration:.3s;
  -moz-animation-duration:.3s;
  animation-duration:.3s;

  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  animation-delay: .3s;

}