/*-----------------------------------------------------------------------------
navigation bar styles
-----------------------------------------------------------------------------*/
/*placeholder to prevent 'jump' when switching menu to fixed position */
#place-holder{
       height:4rem;
       float:left;
    }

@media (min-width: 84em){
  #place-holder{
       height:0;
    }
}
/*transitions for reorientation*/
#navbar{
   -webkit-transition: height 0.13s;
   transition: height 0.13s;
}
/*vertical-to-horizontal navigation-menu styles*/
.menubar{
    z-index:5;
    float:left;
    background-color:inherit;
    height:4rem;
    li{
		   display:inline;
		   list-style:none;
		   padding-left:1.3rem;
       font-family: $sub-heading-font-stack;
		   font-size:$h6-font-size;
	  }
    ul{
      margin:2;
    }
}
/*vertical dispay for large screen sizes*/
@media (min-width: 84em){
	.menubar{
    height:inherit;
	   li{
	   	  padding-top:1rem;
        padding-bottom:3rem;
		    display:block;
		    margin:2rem;
        font-size:$h4-font-size;
	   }

	}
}
/*stick-on-scroll for navigation menu*/
.scroll-stick{
    position:fixed;
    top:0;
    left:0;
}

/*fade-in-before-content menu animation*/
@-moz-keyframes menuLoad { from { opacity:0; } to { opacity:1; } }
@-webkit-keyframes menuLoad { from { opacity:0; } to { opacity:1; } }
@keyframes menuLoad { from { opacity:0; } to { opacity:1; } }
.menu-load{
  opacity:0;

  -webkit-animation:menuLoad linear 1;
  animation:menuLoad linear 1;

  -webkit-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:.3s;
  animation-duration:.3s;

  -webkit-animation-delay: .3s;
  animation-delay: .3s;

}
