.menubar{
	min-height: 8em;
	max-height:8rem;
    width:100%;
    float:left;
    ul li{
		display:inline;
		list-style:none;
		text-align: center;
	}
}

@media (min-width: 84em){
	.menubar{
	   min-height: 1480px;
	   ul li{
		  display:block;
	   }

	}
}
