.menubar{
    z-index:5;
    float:left;
    ul li{
		display:inline;
		list-style:none;
		padding-left:2rem;
		font-size:2rem;
	}
}
@media (min-width: 70em){
	.menubar{
	}
}
@media (min-width: 84em){
	.menubar{
	   float:left;
	   ul li{
	   	  padding-bottom: 2rem;
		  display:block;
		  margin:2rem;
	   }

	}
}


