/*-----------------------------------------------------------------------------
navigation bar styles
-----------------------------------------------------------------------------*/
/*placeholder to prevent 'jump' when switching menu to fixed position */
#place-holder{
       height:4rem;
       float:left;
    }

@media (min-width: 84em){
  #place-holder{
       height:0;
    }
}
/*transitions for reorientation*/
#navbar{
   -webkit-transition: height 0.13s;
   transition: height 0.13s;
}
/*vertical-to-horizontal navigation-menu styles*/
.menubar{
    z-index:5;
    float:left;
    background:inherit;
    height:3.8rem;
    li{
		   display:inline;
		   list-style:none;
		   padding-left:.5rem;
       font-family: $sub-heading-font-stack;
       font-style: normal;
		   font-size:$h6-font-size * .9;
	  }
    ul{
      margin:2;
    }
    a:link {
    text-decoration: none;
    color: $core-text-color;
    }
    a:visited {
        text-decoration: none;
        color: $core-text-color;
    }
    a:hover   {
      text-decoration: none;
        color: $core-accent;
    }
    a:active  {
      text-decoration: none;
        color: $core-text-color;
    }
}

@media (min-width: 48em){
  .menubar{
        li{
           padding-left:.7rem;
           font-size:$h6-font-size * 1;
        }
    }
}
@media (min-width: 60em){
  .menubar{
       li{
           padding-left:.9rem;
           //font-size:$h6-font-size * 1.3;
        }
    }
}
@media (min-width: 72em){
  .menubar{
       li{
           padding-left:1rem;
        }
    }
}


/*vertical dispay for large screen sizes*/
@media (min-width: 84em){
	.menubar{
    height:inherit;
	   li{
	   	  padding-top:1rem;
        padding-bottom:3rem;
		    display:block;
		    margin:2rem;
        font-size:$h4-font-size;
	   }

	}
}
/*stick-on-scroll for navigation menu*/
.scroll-stick{
    position:fixed;
    top:0;
    left:0;
}
@media (min-width: 84em){
      .scroll-stick{
        box-shadow: none;
    }
}
/*fade-in-before-content menu animation*/
@-moz-keyframes menuLoad { from { opacity:0; } to { opacity:1; } }
@-webkit-keyframes menuLoad { from { opacity:0; } to { opacity:1; } }
@keyframes menuLoad { from { opacity:0; } to { opacity:1; } }
.menu-load{
  opacity:0;

  -webkit-animation:menuLoad linear 1;
  animation:menuLoad linear 1;

  -webkit-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:.3s;
  animation-duration:.3s;

  -webkit-animation-delay: .3s;
  animation-delay: .3s;

}
