.search-box{
	padding-bottom: 2rem;
}
.syndicate{
	line-height: 2rem;
	a:link {
	    text-decoration: none;
	    color: #000;
    }
	a{
		border: 1px solid $core-text-color;
		padding: 0rem .5rem 0rem .5rem;
        border-radius: 2px;
        color: $core-text-color;
	}
	a:hover{
		border: 1px solid $core-accent;
		padding: 0rem .5rem 0rem .5rem;
        border-radius: 2px;
        color: $core-accent;
	}

}