.search-box{
	padding-bottom: 2em;
}
.syndicate{
	line-height: 2em;
	a:link {
	    text-decoration: none;
	    color: #000;
    }
	a{
		border: 1px solid $core-text-color;
		padding: 0em .5em 0em .5em;
        border-radius: 2px;
        color: $core-text-color;
	}
	a:hover{
		border: 1px solid $core-accent;
		padding: 0em .5em 0em .5em;
        border-radius: 2px;
        color: $alt-background;
        background-color:$core-accent;
	}

}
.sidebar{
    h3{
    	border-bottom:2px solid $core-accent;
    	font-family: $sub-heading-font-stack;
    }
}