<nav class="bottomnav pure-u-1-1 pure-u-sm-1-3 pure-u-xl-1-6 left item">
    <h4>Secondary Navigation</h4>
    <ul>
         <li>Link</li>
         <li>Link</li>
    </ul>
</nav>
<footer class="pure-u-1-1 pure-u-sm-1-3 pure-u-xl-1-6 left item">
  <h4>Footer</h4>
  <p>All content copyright&copy; All rights reserved.</p>
</footer>