<footer class="pure-u-1 item bottom-footer">
  <h4>Footer</h4>
  <p>All content copyright&copy; All rights reserved.</p>
  <h4>Secondary Navigation</h4>
    {% include 'partials/navigation.html.twig' %}
</footer>