
<header class="pure-u-1-1">
	<div class="content">
     <h1>Header</h1>
    </div>
</header>
<nav class="pure-u-1-1">
	<div class="content">
      <h2>Primary Navigation</h2>
     {% include 'partials/navigation.html.twig' %}
    </div>
</nav>