
<header class="pure-u-1 content title">
     <h1><span class="name">Cardinl<span></h1>
</header>
<nav class="pure-u-1 content">
      <h2 class="menu-title">Menu</h2>
     {% include 'partials/navigation.html.twig' %}
</nav>