
    <div id="place-holder" class="pure-u-1 pure-u-xl-1-8 menubar"></div>
    <nav id="navbar" class="pure-u-1 pure-u-xl-1-8 menubar menu-load">
     {% include 'partials/navigation.html.twig' %}
    </nav>
