{% set feed_url = blog.url == '/' or blog.url == base_url_relative ? (base_url_relative~'/'~blog.slug) : blog.url %}
{% set new_base_url = blog.url == '/' ? '' : blog.url %}




{% if config.plugins.relatedpages.enabled and related_pages|length > 0 %}


   {% include 'partials/relatedpages.html.twig' %}


{% endif %}

{% if config.plugins.taxonomylist.enabled %}
<div class="pure-u-1 pure-u-md-1-3 pure-u-xl-1-4 card item">
  <div class="edge">
    <div>
    <h4>Tags</h4>
    {% include 'partials/taxonomylist.html.twig' with {'base_url': base_url, 'taxonomy':'tag'} %}
    </div>
{% endif %}

{% if config.plugins.feed.enabled %}
<div>
    <h4>Syndicate</h4>
    <a class="button" href="{{ blog.url }}.atom"><i class="fa fa-rss"></i> Atom 1.0</a>
    <a class="button" href="{{ blog.url }}.rss"><i class="fa fa-rss"></i> RSS</a>
</div>
{% endif %}

{% if config.plugins.simplesearch.enabled %}
<div>
    <h4>SimpleSearch</h4>
    {% include 'partials/simplesearch_searchbox.html.twig' %}
</div>    
</div>
</div>
{% endif %}
