{% set feed_url = blog.url == '/' or blog.url == base_url_relative ? (base_url_relative~'/'~blog.slug) : blog.url %}
{% set new_base_url = blog.url == '/' ? '' : blog.url %}




{% if config.plugins.relatedpages.enabled and related_pages|length > 0 %}


   {% include 'partials/relatedpages.html.twig' %}


{% endif %}


<div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-xl-1-4 card item">

  <div class="edge">
    {% if config.plugins.taxonomylist.enabled %}
    <div class="tag-group">
    <h3>Tags</h3>
    {% include 'partials/taxonomylist.html.twig' with {'base_url': base_url, 'taxonomy':'tag'} %}
    </div>
   {% endif %}

{% if config.plugins.feed.enabled %}
<div class="syndicate">
    <h3>Syndicate</h3>
    <a class="button" href="{{ blog.url }}.atom">Atom 1.0</a>
    <a class="button" href="{{ blog.url }}.rss">RSS</a>
</div>
{% endif %}

{% if config.plugins.simplesearch.enabled %}
<div class="search-box">
    <h3>Keyword Search</h3>
    {% include 'partials/simplesearch_searchbox.html.twig' %}
</div>
</div>
</div>
{% endif %}
