{% embed 'partials/base.html.twig' %}
	{% set collection = page.collection %}
	{% block content %}
			<div class="pure-u-1-1 pure-u-md-2-3 pure-u-xl-1-2 item">
				{% for child in collection %}
				    <h2>{{child.header.title}}</h2>
			        <p>{{child.content}}</p>
			    {% endfor %}
			</div>
	{% endblock %}
{% endembed %}


