{% embed 'partials/base.html.twig' %}
	{% set collection = page.collection %}
	{% block content %}
			<div id="listing" class="pure-u-1 pure-u-xl-2-3 item">
				{% for child in collection %}
				 <div class="edge item-load">
				    <h2>{{child.header.title}}</h2>
			        <div>{{child.content}}</div>
			     </div>
			    {% endfor %}
			</div>
	{% endblock %}
{% endembed %}


