{% embed 'partials/base.html.twig' %}
	{% set collection = page.collection %}
	{% block content %}
			<article id="listing" class="pure-u-1 pure-u-md-2-3 pure-u-xl-1-2 item blog">
				<div class="edge">
				{% for child in collection %}
				 {% if child.isFirst %}
			        {% include 'partials/blog_item.html.twig' with {'blog':page, 'page':child, 'truncate':true} %}
			     {% endif %}
			    {% endfor %}
                {% if config.plugins.pagination.enabled and collection.params.pagination %}
                    {% include 'partials/pagination.html.twig' with {'base_url':page.url, 'pagination':collection.params.pagination} %}
                {% endif %}
            </div>
			</article>
			    {% include 'partials/sidebar.html.twig'%}
                {% include 'deck.html.twig' %}
	{% endblock %}
{% endembed %}


