{% extends 'partials/base.html.twig' %}
{% block content %}
	<div id="error" class="pure-u-1-1 item">
		<div>
			<h1>Error {{ page.header.http_response_code }}</h1>
			<p>
				{{ page.content }}
			</p>
		</div>
	</div>
{% endblock %}
