{% embed 'partials/base.html.twig' %}
	{% block content %}
			<div id="listing" class="pure-u-1 pure-u-xl-2-3 item">
				<div class="edge item-load">
			    {% include 'partials/blog_item.html.twig' with {'blog':page.parent, 'truncate':false} %}
			</div>
			</div>
			 {% include 'partials/sidebar.html.twig'%}
	{% endblock %}
{% endembed %}
