{% embed 'partials/base.html.twig' %}
	{% block content %}
			<div id="listing" class="pure-u-1 pure-u-md-2-3 pure-u-xl-1-2 item">
			    {% include 'partials/blog_item.html.twig' with {'blog':page.parent, 'truncate':false} %}
			</div>
			 {% include 'partials/sidebar.html.twig'%}
               
	{% endblock %}
{% endembed %}
