{% embed 'partials/base.html.twig' %}

	{% block content %}
			<div id="item" class="pure-u-1-1 pure-u-md-2-3 pure-u-xl-1-2 item main">
			    {% include 'partials/blog_item.html.twig' with {'blog':page.parent, 'truncate':false} %}
			</div>
			{% include 'deck.html.twig' %}
	{% endblock %}

{% endembed %}
