{% extends 'partials/simplesearch_base.html.twig' %}
{% block content %}
<div class="pure-u-1 pure-u-xl-5-6 item">
    <h1 class="search-header">Search Results</h1>
 
        {% include 'partials/simplesearch_searchbox.html.twig' %}

    <p>Query: <strong>{{ query }}</strong> found {{ search_results.count }} {{ 'result'|pluralize(search_results.count) }}</p>
</div>
    {% for page in search_results %}
        {% include 'partials/simplesearch_item.html.twig' with {'page':page} %}
    {% endfor %}
    {% include 'partials/sidebar.html.twig'%}
{% endblock %}
